<div class="mon-navbar">
    <div class="navbar-item" (click)="recupererTransactionsLocal()">Récuperer Transactions en local</div>
    <div class="navbar-item"  (click)="recupererTransactionsWeb()">Récuperer Transactions dans le Web</div>
    <div class="navbar-item"  (click)="recupererTrxsIgnorees()">Récuperer Transactions ignorées</div>
    <div class="navbar-item"  (click)="ajouterTrxs()">Ajouter des transactions</div>
    <div class="navbar-item"  (click)="ajouterTransferts()">Ajouter des transferts</div>
    <div class="navbar-item"  (click)="ajouterComptes()">Ajouter des comptes</div>
    <div class="navbar-item"  (click)="parserHtmlCredit()">Parser Html Credit</div>
    <div class="navbar-item"  (click)="parserHtmlDedit()">Parser Html Débit</div>
</div>