<div class="modal-header">
    <h4 class="modal-title">Ajouter des Tansactions {{(estCredit===true?'Crédits':'Débit')}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">    
    <textarea class="texterea-liste-trxs" [(ngModel)]="htmlTrxs"></textarea>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="passBack()" [disabled]="!htmlTrxs">Valider</button>
</div>